
dist: trusty
addons:
  chrome: stable

language: node_js
node_js: lts/*

cache:
  directories:
    - "node_modules"

install:
  - npm install
  - npm run build:prod

script:
  # xvfb-run is needed for headless testing with real browsers
  - xvfb-run karma start --single-run
  - if [[ "$TRAVIS_EVENT_TYPE" = "push" ]]; then
      travis_retry karma start --single-run --sauce;
    fi;

notifications:
  email:
    on_success: never
