* { box-sizing: border-box; }
html,body {
  height: 100%; 
  margin: 0;
  padding: 0;
}

body{
  color: #fff;
  font-family: 'Montserrat', san-serif;
}

.button {
  border: 0;
  padding: 20px 40px;
  background: rgba(0,0,0,0.6);
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: background 500ms ease;
  &:hover {
    background: rgba(0,0,0,0.8);
  }
}

header {
  height: 100%;
  width: 100%;
  position: relative;
  .centerer {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    z-index: 100;
    .twitter-follow-button {
      display: block;
      margin: auto;
      margin-top: 40px;
      clear: left;
    }
  }
  h1 {
    color: rgba(0,0,0,.6);
    font-size: 144px;
    margin: 0;
    line-height: 1;
  }
  h2 {
    font-size: 12px;
    color: rgba(0,0,0,.4);
    margin: 0;
    margin-bottom: 40px;
  }
  .docs-arrow {
    color: rgba(0,0,0,.6);
    font-size: 14px;
    display: inline-block;
    bottom: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    text-decoration: none;
    -webkit-animation: fader 2s infinite;
      -moz-animation:    fader 2s infinite; 
      -o-animation:      fader 2s infinite; 
      animation:         fader 2s infinite; 
    .arrow{ 
      clear: left;
      display: block;
    }
  }
}

section {
  padding: 20px;
  width: 100%;
  text-align: center;
  color: rgba(0,0,0,0.6);
  h3 {
    font-size: 36px;
  }
  &.dark {
    background: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    transition: background 500ms ease;
    &:hover {
      background: rgba(0,0,0,0.8);
    }
    h3 {
      margin: 0px;
      line-height: 1.5;
      margin: 20px 0px;
    }
    ul {
      display: inline-block;
    }
    p {
      max-width: 600px;
      margin: auto;
      display: block;
      line-height: 1.5;
      font-size: 16px;
      margin-bottom: 20px;
    }
    ul {
      margin: 0;
      padding: 0;
      margin: 20px 0px;
    }
    li {
      list-style-type: none;
      font-size: 20px;
      margin: 0;
      padding: 0;
    }
  } 
  blockquote {
    width: 100%;
  }
}

.wrapper {
  max-width: 960px;
  position: relative;
  margin: auto;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  aside {
    width: 30%;
    display: block;
    float: left;
    text-align: left;
    li a {
      text-decoration: none;
      color: rgba(0,0,0,0.6);
    }
  }
  section.definitions {
    width: 70%;
    float: left;
    text-align: left;
    padding: 0;
    em {
      color: rgba(0,0,0,0.8);
      font-weight: bold;
      font-style: normal;
    }
    ul li {
      padding: 20px;
      background: rgba(0,0,0,0.02);
      margin-bottom: 20px;
      ul li {
        background: none;
        list-style-type: square;
        margin: 0px;
        margin-left: 20px;
        padding: 5px;
        span {
          color: rgba(0,0,0,0.4)
        }
      }
    }
    h4 {
      margin: 0;
      padding: 0;
      color: black;
      font-size: 20px;
    }
    h5 {
      margin: 0;
      padding: 0;
      font-size: 18px;
    }
    pre {
      margin: 0;
      white-space: pre-wrap;
      overflow: auto;
      code {
        font-family: monospace;
        font-weight: bold;
        .return {
          color: rgba(0,0,0,0.4);
        }
      }
    }
  }
}

@-webkit-keyframes fader {
  0%   { opacity: .5; }
  50%  { opacity: 1; }
  100% { opacity: .5; }
}
@-moz-keyframes fader {
  0%   { opacity: .5; }
  50%  { opacity: 1; }
  100% { opacity: .5; }
}
@-o-keyframes fader {
  0%   { opacity: .5; }
  50%  { opacity: 1; }
  100% { opacity: .5; }
}
@keyframes fader {
  0%   { opacity: .5; }
  50%  { opacity: 1; }
  100% { opacity: .5; }
}

@media only screen and (max-width: 480px) {
  .wrapper aside {
    display: none;
  }
  .wrapper section.definitions {
    width: 100%;
  }
  .button {
    width: 100%;
    margin-bottom: 20px;
  }
  section h3 {
    font-size: 24px;
  }
  header {
    .centerer {
      padding: 20px;
    }
    h1 {
      font-size: 100px;
    }
  }
}