* { box-sizing: border-box; }

html, body { height: 100%; margin: 0; padding: 0; }

body { color: #fff; font-family: 'Montserrat', san-serif; }

.button { border: 0; padding: 20px 40px; background: rgba(0, 0, 0, 0.6); font-size: 14px; color: white; text-decoration: none; display: inline-block; transition: background 500ms ease; }
.button:hover { background: rgba(0, 0, 0, 0.8); }

header { height: 100%; width: 100%; position: relative; }
header .centerer { position: absolute; top: 50%; width: 100%; text-align: center; transform: translateY(-60%); -webkit-transform: translateY(-60%); -o-transform: translateY(-60%); -moz-transform: translateY(-60%); -ms-transform: translateY(-60%); z-index: 100; }
header .centerer .twitter-follow-button { display: block; margin: auto; margin-top: 40px; clear: left; }
header h1 { color: rgba(0, 0, 0, 0.6); font-size: 144px; margin: 0; line-height: 1; }
header h2 { font-size: 12px; color: rgba(0, 0, 0, 0.4); margin: 0; margin-bottom: 40px; }
header .docs-arrow { color: rgba(0, 0, 0, 0.6); font-size: 14px; display: inline-block; bottom: 20px; position: absolute; width: 100%; text-align: center; text-decoration: none; -webkit-animation: fader 2s infinite; -moz-animation: fader 2s infinite; -o-animation: fader 2s infinite; animation: fader 2s infinite; }
header .docs-arrow .arrow { clear: left; display: block; }

section { padding: 20px; width: 100%; text-align: center; color: rgba(0, 0, 0, 0.6); }
section h3 { font-size: 36px; }
section.dark { background: rgba(0, 0, 0, 0.6); color: white; text-align: center; transition: background 500ms ease; }
section.dark:hover { background: rgba(0, 0, 0, 0.8); }
section.dark h3 { margin: 0px; line-height: 1.5; margin: 20px 0px; }
section.dark ul { display: inline-block; }
section.dark p { max-width: 600px; margin: auto; display: block; line-height: 1.5; font-size: 16px; margin-bottom: 20px; }
section.dark ul { margin: 0; padding: 0; margin: 20px 0px; }
section.dark li { list-style-type: none; font-size: 20px; margin: 0; padding: 0; }
section blockquote { width: 100%; }

.wrapper { max-width: 960px; position: relative; margin: auto; }
.wrapper ul { margin: 0; padding: 0; }
.wrapper ul li { list-style-type: none; }
.wrapper aside { width: 30%; display: block; float: left; text-align: left; }
.wrapper aside li a { text-decoration: none; color: rgba(0, 0, 0, 0.6); }
.wrapper section.definitions { width: 70%; float: left; text-align: left; padding: 0; }
.wrapper section.definitions em { color: rgba(0, 0, 0, 0.8); font-weight: bold; font-style: normal; }
.wrapper section.definitions ul li { padding: 20px; background: rgba(0, 0, 0, 0.02); margin-bottom: 20px; }
.wrapper section.definitions ul li ul li { background: none; list-style-type: square; margin: 0px; margin-left: 20px; padding: 5px; }
.wrapper section.definitions ul li ul li span { color: rgba(0, 0, 0, 0.4); }
.wrapper section.definitions h4 { margin: 0; padding: 0; color: black; font-size: 20px; }
.wrapper section.definitions h5 { margin: 0; padding: 0; font-size: 18px; }
.wrapper section.definitions pre { margin: 0; white-space: pre-wrap; overflow: auto; }
.wrapper section.definitions pre code { font-family: monospace; font-weight: bold; }
.wrapper section.definitions pre code .return { color: rgba(0, 0, 0, 0.4); }

@-webkit-keyframes fader { 0% { opacity: .5; }
  50% { opacity: 1; }
  100% { opacity: .5; } }
@-moz-keyframes fader { 0% { opacity: .5; }
  50% { opacity: 1; }
  100% { opacity: .5; } }
@-o-keyframes fader { 0% { opacity: .5; }
  50% { opacity: 1; }
  100% { opacity: .5; } }
@keyframes fader { 0% { opacity: .5; }
  50% { opacity: 1; }
  100% { opacity: .5; } }
@media only screen and (max-width: 480px) { .wrapper aside { display: none; }
  .wrapper section.definitions { width: 100%; }
  .button { width: 100%; margin-bottom: 20px; }
  section h3 { font-size: 24px; }
  header .centerer { padding: 20px; }
  header h1 { font-size: 100px; } }
